In [1]:
import os
import glob
import zipfile
import pandas as pd
import dask.dataframe as dd

In [2]:
Path = "/home/michell21/Datasets/"

In [10]:
with zipfile.ZipFile(Path+'Datos_ruoa.zip', 'r') as archive:
    archive.extractall(Path)

In [3]:
#os.chdir(Path+'Datos_ruoa/')
csv_files = glob.glob(Path+'Datos_ruoa/*.csv')
csv_files.sort()

In [4]:
print(csv_files)

['/home/michell21/Datasets/Datos_ruoa/2015-08-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2015-09-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2015-10-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2015-11-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2015-12-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-01-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-02-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-03-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-04-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-05-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-06-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-07-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-08-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-09-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-10-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-11-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2016-12-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-01-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-02-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-03-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-04-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-05-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-06-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-07-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-08-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-09-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-10-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-11-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2017-12-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-01-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-02-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-03-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-04-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-05-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-06-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-07-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-08-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-09-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-10-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-11-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2018-12-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-01-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-02-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-03-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-04-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-05-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-06-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-07-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-08-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-09-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-10-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-11-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2019-12-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-01-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-02-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-03-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-04-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-05-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-06-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-07-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-08-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-09-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-10-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-11-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2020-12-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2021-01-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2021-02-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2021-03-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2021-04-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2021-05-more_hora_L1.csv', '/home/michell21/Datasets/Datos_ruoa/2021-06-more_hora_L1.csv']

In [4]:
# Prueba con pandas
list_data = []

for filename in csv_files:
    data = pd.read_csv(filename, skiprows=5)
    data.drop(0,axis=0, inplace=True)
    list_data.append(data)

df = pd.concat(list_data,ignore_index=True)
df.to_csv(Path+"Data_complete.csv")

In [5]:
%time df_pandas = pd.read_csv(Path+"Data_complete.csv")

CPU times: user 97.1 ms, sys: 8.1 ms, total: 105 ms
Wall time: 104 ms

In [6]:
df_pandas.head()

,Unnamed: 0,TIMESTAMP,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,Rain_Tot,Press_Avg,Rad_Avg
0,0,2015-08-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2015-08-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2015-08-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2015-08-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2015-08-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Prueba con dask

%time df_dask = dd.read_csv(Path+'Data_complete.csv')

CPU times: user 9.91 ms, sys: 7.84 ms, total: 17.8 ms
Wall time: 16.3 ms

In [8]:
df_dask.head()

,Unnamed: 0,TIMESTAMP,Temp_Avg,RH_Avg,WSpeed_Avg,WSpeed_Max,WDir_Avg,Rain_Tot,Press_Avg,Rad_Avg
0,0,2015-08-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2015-08-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2015-08-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2015-08-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2015-08-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN